@import url("./PostArticle.css");

.homePage .postContainer--home {
  min-height: auto;
  height: auto;
  padding: 30px;
}

@media screen and (max-width: 420px) {
  .homePage .postContainer--home {
    padding: 20px;
  }
}

.homePage .postHeading {
  word-wrap: break-word;
}

.homePage .postHeading--title {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .homePage .postHeading--title {
    font-size: 26px;
  }
}

.homePage .postHeading--author {
  font-weight: bold;
}

.homePage .postContainer button.deleteButton {
  width: 80px;
  margin: 7px 0;
  background-color: #888;
}
.homePage .postContainer button.deleteButton:hover {
  background-color: #555;
}

.postPart--authorAndDelete {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postPart--authorAndDelete .postHeading {
  width: calc(100% - 90px);
}
.postPart--authorAndDelete .deleteButton {
  width: 80px;
}
