.postBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0 50px;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .postBlock {
    width: 90%;
    margin: 80px auto 40px;
  }
}

.postContainer {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  min-height: 400px;
  padding: 30px 40px;
  box-shadow: 5px 8px 15px -5px #999;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .postContainer {
    min-height: 380px;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 420px) {
  .postContainer {
    min-height: 360px;
    padding: 20px;
  }
}

.postHead {
  margin: 0 0 10px;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .postHead {
    margin: 0 0 5px;
    font-size: 26px;
  }
}

.postHeading {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.postContainer input,
.postContainer textarea {
  width: 100%;
  outline: none;
  padding: 7px;
  border: 1px solid #777;
  border-radius: 5px;
}
.postContainer input {
  height: 35px;
}

.postContainer textarea {
  height: 120px;
}

.postButton {
  width: 100%;
}
