.postBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

@media screen and (max-width: 767px) {
  .postBlock {
    width: 90%;
    margin: 0 auto;
  }
}

.postContainer {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 400px;
  padding: 30px 40px;
  box-shadow: 5px 8px 15px -5px #999;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .postContainer {
    height: 380px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 420px) {
  .postContainer {
    height: 360px;
    padding: 0 20px;
  }
}

.postHead {
  margin: 0 0 10px;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .postHead {
    margin: 0 0 5px;
    font-size: 26px;
  }
}

.postHeading {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.postContainer input,
.postContainer textarea {
  width: 100%;
  outline: none;
  padding: 7px;
  border: 1px solid #777;
  border-radius: 5px;
}
.postContainer input {
  height: 35px;
}

.postContainer textarea {
  height: 120px;
}
.postContainer button {
  width: 100%;
  height: 35px;
  outline: none;
  padding: 7px;
  padding: 5px;
  background-color: #5fc8e6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.postContainer button:hover {
  background-color: #008ec2;
  transition: all 0.2s;
}
